@font-face {
	font-family: 'Muli SemiBold';
	src: url('../fonts/muli_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/muli_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/muli_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/muli_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/muli_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/muli_semibold.svg#muli_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}