@font-face {
	font-family: 'Muli ExtraLight';
	src: url('../fonts/muli_extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/muli_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/muli_extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/muli_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/muli_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/muli_extralight.svg#muli_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}