@font-face {
	font-family: 'Muli Light';
	src: url('../fonts/muli_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/muli_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/muli_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/muli_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/muli_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/muli_light.svg#muli_light') format('svg'); /* Chrome < 4, Legacy iOS */
}