.button
    font-family: Muli
    font-size: 16px

.yelow-button
    border-radius: 60px
    border: 3px solid #f2c200
    color: #2b2d5c
    background-color: #f2c200
    &:hover
        background-color: rgba(0,0 ,0 ,0)
        color: #ffffff

.blue-button
    border-radius: 55px
    padding: 27px 55px
    font-family: 'Muli - Semi Bold'
    font-size: 14px
    border: 3px solid #2b2d5c
    color: #fefeff
    background-color: #2b2d5c
    text-transform: uppercase
    &:hover
        color: #2b2d5c
        background-color: rgba(0,0 ,0 ,0)
