.clients
    background-color: #2b2d5c
    background: url(../img/clients-bg.png) no-repeat center top
    padding-bottom: 100px
    &__title
        display: flex
        justify-content: center
        font-size: 40px
        color: #ffffff
        padding-top: 70px
        margin: 0 auto
        padding-bottom: 50px
    &__img 
        transition: 0.5s
        &:hover
            transform: scale(1.1)
    &-block
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 100px

@media screen and ( max-width: 1024px )
    .img__none
        display: none
    .clients__img
        width: 30vw
    