.header
    background: url(../img/hero-bg.png) no-repeat center top
    background-color: #2b2d5c
    height: 100vh
    &__body
        position: relative
        z-index: 3
        padding: 0px 10px
        padding-top: 70px
        display: flex
        justify-content: space-between
        align-items: center
    &__menu
    &__burger
        display: none    
    &__list
        display: flex
        & li
            list-style: none
    &__link
        font-family: 'Muli SemiBold', sans-serif
        color: #ffffff
        text-decoration: none
        font-size: 14px
        margin-left: 25px
        padding: 5px 7px
        &:hover
            border-bottom: 1px solid #ffcc00
    &__hero
        margin-top: 170px
    &__title
        color: #ffffff
        font-size: 60px
        line-height: 72px
        padding-bottom: 38px
    &__subtitle
        color: #ffffff
        font-size: 20px
        padding-bottom: 50px
    &__button
        padding: 23px 68px



@media screen and ( max-width: 767px )
    body.lock
        overflow: hidden
    .header
        &__logo
            z-index: 3
        &__body
            padding-top: 30px
        &__burger
            z-index: 3
            display: block
            position: relative
            width: 30px
            height: 20px
            &.active
                & span
                    transform: scale(0)
                &::before
                    transform: rotate(45deg)
                    top: 9px
                &::after
                    transform: rotate(-45deg)
                    bottom: 9px
            & span
                position: absolute
                background-color: #fff
                left: 0
                width: 100%
                height: 2px
                top: 9px
                transition: all 0.3s ease 0s
            &::before, &::after
                content: ''
                background-color: #fff
                position: absolute
                width: 100%
                height: 2px
                left: 0
                transition: all 0.3s ease 0s
            &::before
                top: 0
            &::after
                bottom: 0
        &__menu
            position: fixed
            left: -100%
            top: 0
            opacity: 0
            height: 100%
            width: 100%
            background: #2b2d5c
            z-index: 2
            padding: 130px 0px 0px 15px
            transition: all 0.3s ease 0s
            overflow: auto 
            &.active
                left: 0
                opacity: 1
        &__list
            display: block
            & li
                margin-bottom: 25px
        &__link
            font-size: 20px
        &__hero
            margin-top: 50px
            padding-left: 7px
        &__title
            font-size: 40px
            padding-bottom: 70px
            line-height: 50px
        &__subtitle
            font-size: 16px
            padding-bottom: 30px
        &__button
            padding: 15px 32px
            font-size: 14px


            
    