*
    margin: 0
    padding: 0

.container
    max-width: 1170px
    margin: 0 auto
    @media screen and ( max-width: 1170px )
        max-width: 95%
        

h1
    font-family: 'Trirong', serif
h2
    font-family: 'Muli ExtraLight'
h3
    font-family: 'Muli SemiBold'
p
    font-family: 'Muli Light'

@import 'button'
@import 'header'
@import 'about'
@import 'fonts'